.App {
  text-align: center;
}

.name {
  text-align: center;
  
  font: bold 120px Poppins, sans-serif;
  font-size: xx-large;
  font-weight: bolder;

  color: var(--main-color);
}

.frame {
  width: 300px;
  height: 250px;
  border: 3px solid #ffffff;
  background: #622a2a;
  margin: auto;
  padding: 15px 10px;
}

.subtitle {
  text-align: center;
  
  font: bold 60px Poppins, sans-serif;
  font-size: x-large;
  font-weight: bolder;

  color: var(--main-color);
}

.footer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100%;
  color: black;
  text-align: right;
}

.body {
  text-align: center
}